{% extends "base.html" %}
{% block head %}
<title>Kirish sahifasi</title>
{% endblock %}

{% block content %}
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.username.label_tag }}
    {{ form.username }}
    {{ form.password.label_tag }}
    {{ form.password }}
    <input type="submit" value="login" />
    </form>
    {% if form.errors %}
    <p>Login yoki parol xato</p>
    {% endif %}

<p>
<a href="{% url 'password_reset' %}">
Parolni esizdan chiqardizmi?
</a>
</p>

{% endblock %}
