{% extends "base.html" %}
{% block head %}

{% endblock %}
{% block content %}


{% comment %}? carusel start {% endcomment %}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style='height:300px;'>
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://picsum.photos/1440/300" class="d-block w-100" alt="https://picsum.photos/1440/300">
        </div>
        <div class="carousel-item">
            <img src="https://picsum.photos/1440/300" class="d-block w-100" alt="https://picsum.photos/1440/300">
        </div>
        <div class="carousel-item">
            <img src="https://picsum.photos/1440/300" class="d-block w-100" alt="https://picsum.photos/1440/300">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% comment %}? carusel end {% endcomment %}

{% comment %} card start {% endcomment %}
<div class="container">
    <div class="row" style='justify-content: space-around;'>

            {% for post in posts %}
                <div class="card" style="width: 18rem;">
                    <img src="{{post.img.url}}" class="card-img-top" alt="{{post.title}}">
                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text">{{post.des}}</p>
                        <a href="{% url "post" post.id %}" class="btn btn-primary">Post haqida</a>
                    </div>
                </div>
            {% endfor %}
        
    </div>
</div>
{% comment %} card end {% endcomment %}

{% endblock %}
