{% extends "base.html" %}

{% block head %}
    <title>Yangiliklar sahifasi</title>
{% endblock %}

{% block content %}
<div class="container">

                <div class="card" style="width: 25rem;">
                    <img src="{{post.img.url}}" class="card-img-top" alt="{{post.title}}">
                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text">{{post.des}}</p>
                        <p class="card-text">{{post.price}}$</p>
                    </div>
                </div>
</div>
<h4>Оставьте свой комментари</h4>
<p>Комментариев : {{post.comment_set.count}}</p>
<hr>
{% if user.is_authenticated %}
<form action="{% url 'comment' post.id %}" method="POST">
    {% csrf_token %}
    <textarea required name="text" class="form-control"></textarea>
    <p class="text-right">
        <br>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </p>
</form>
{% endif %}



{% for comment in post.comment_set.all %}
<h4>
    {% if comment.author.first_name == null %}
    {{comment.author.first_name}} {{ comment.author.last_name }}
{{comment.author.username}}
{% endif %}
</h4>
<p>
    {{comment.text}}
</p>


{% endfor %}



{% endblock %}
